*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, "Times New Roman";
}

img {
    max-width: 100%;
}

nav {
    height: 60px;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar .links {
    display: flex;
    list-style-type: none;
}