*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, "Times New Roman";
}

img {
    max-width: 100%;
    border: 2px solid;
    border-color: #3882F6;
    border-radius: 5px;
}

.container {
    margin: 0 auto;
}

nav {
    height: 10vh;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 900px;
}

.navbar .links {
    display: flex;
    list-style-type: none;
    gap: 8px;
}

.header {
    display: flex;
    margin-bottom: 20px;
}

.header .container {
    display:flex;
    align-items: center;
    justify-content: space-between;
    width: 900px;
    gap: 100px;
    margin: 20px auto;
}

.header img {
    max-width: 400px;
    border: none;
}

.boxes {
    display: flex;
    flex-direction: column;
}

.boxes .container {
    display: flex;
    align-items: center;
    width: 900px;
    height: 200px;
    margin: 30px auto;
    gap: 20px;
}

.quote-section {
    display: flex;
}

.quote-section .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 200px;
    gap: 10px;
}

.call-to-action-section {
    display: flex;
    height: 150px;
    align-items: center;
}

.call-to-action .container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #3882F6;
    padding: 0 40px;
    border-radius: 5px;
    width: 700px;
    height: 100px;
}

footer .container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 900px;
    height: 60px;
}

footer {
    height: 10vh;
}

nav,
header,
footer {
    background-color: #1F2937;
}

.logo,
h1 {
    color: #F9FAF8;
}

.logo {
    font-size: 24px;
}

h1 {
    font-size: 48px;    
    font-weight: 900;
}

h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
}

.links,
.header p,
footer p {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    border-radius: 10px;
    padding: 5px 10px;
}

header button {
    border: none;
    margin-top: 10px;
}

button {
    color: #F9FAF8;
    background-color: #3882F6;
    border:#F9FAF8 solid;
}

.call-to-action button {
    border-color: white;
}

.call-to-action p {
    color:#F9FAF8;
}

.quote-section {
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 36px;
    font-weight: 200;
    font-style: italic;
}

.thor {
    align-self: flex-end;
    color: #1F2937;
    font-size: 18px;
    font-weight: 900;
}


