*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, "Times New Roman";
}

img {
    max-width: 100%;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

nav {
    height: 60px;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar .links {
    display: flex;
    list-style-type: none;
}

.header .container {
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.header img {
    max-width: 400px;
}

.boxes .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section img {
    width: 300px auto;
}

.quote-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
}